<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <!-- Opts out of both Automatic Package Restore and MSBuild-Integrated Package Restore -->
    <add key="enabled" value="true" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <!-- Opts out of Automatic Package Restore in Visual Studio -->
    <add key="automatic" value="true" />
  </packageRestore>

  <packageSources>
    <add key="NuGet official package source" value="http://nuget.org/api/v2/" />
    <!--<add key="TestSource" value="C:\Temp" />-->
  </packageSources>

  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>