<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="be.stateless">
      <sectionGroup name="biztalk">
        <section name="monitoring" type="Be.Stateless.BizTalk.Monitoring.Configuration.MonitoringConfigurationSection, Be.Stateless.BizTalk.Monitoring" />
      </sectionGroup>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <be.stateless>
    <biztalk>
      <monitoring claimStoreDirectory="C:\Files\Drops\BizTalk.Factory\CheckOut" />
    </biztalk>
  </be.stateless>

  <connectionStrings>
    <add name="ActivityContext" connectionString="Data Source=.;Initial Catalog=BAMPrimaryImport;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TransientStateDb" connectionString="Data Source=.;Initial Catalog=BizTalkFactoryTransientStateDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <log4net>
    <appender name="debugAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="debugAppender" />
    </root>
  </log4net>
</configuration>