<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="be.stateless">
      <sectionGroup name="biztalk">
        <section name="monitoring" type="Be.Stateless.BizTalk.Monitoring.Configuration.MonitoringConfigurationSection, Be.Stateless.BizTalk.Monitoring, Version=1.0.0.0, Culture=neutral" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="be.stateless.tests">
      <sectionGroup name="biztalk">
        <section name="monitoring" type="Be.Stateless.BizTalk.Monitoring.Configuration.MonitoringConfigurationSection, Be.Stateless.BizTalk.Monitoring, Version=1.0.0.0, Culture=neutral" />
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <be.stateless>
    <biztalk>
      <monitoring claimStoreDirectory="c:\tracking\messages\" />
    </biztalk>
  </be.stateless>

  <be.stateless.tests>
    <biztalk>
      <monitoring />
    </biztalk>
  </be.stateless.tests>
</configuration>