<connectionStrings>
  <add name="ActivityContext" connectionString="Data Source=.;Initial Catalog=BAMPrimaryImport;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="BizTalkFactoryMgmtDb" connectionString="Data Source=.;Initial Catalog=BizTalkFactoryMgmtDb;Integrated Security=True;" />
</connectionStrings>
