<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="be.stateless">
      <sectionGroup name="biztalk">
        <section name="monitoring" type="Be.Stateless.BizTalk.Monitoring.Configuration.MonitoringConfigurationSection, Be.Stateless.BizTalk.Monitoring" />
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <be.stateless>
    <biztalk>
      <monitoring claimStoreDirectory="c:\files\drops\claims" />
    </biztalk>
  </be.stateless>

  <connectionStrings>
    <add name="TrackingActivityModel" connectionString="Data Source=localhost;Initial Catalog=BAMPrimaryImport;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>