<?xml version="1.0" encoding="utf-8"?>
<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <appender name="EventLogAppender" type="Be.Stateless.Logging.Appender.EventLogAppender, Be.Stateless.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3707daa0b119fc14">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level - %thread - %logger - %message" />
    </layout>
    <source>BizTalk Factory</source>
    <logName>Application</logName>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <!-- #ifdef _xml_preprocess -->
    <!-- <file value="${LogDirectory}\BizTalk.log" /> -->
    <!-- #else -->
    <file value="c:\files\logs\BizTalk.log" />
    <!-- #endif -->
    <appendToFile value="true" />
    <maximumFileSize value="1000KB" />
    <maxSizeRollBackups value="2" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %thread %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %thread %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="BizTalkTracingAppender" type="Be.Stateless.BizTalk.Logging.Appender.TracingAppender, Be.Stateless.BizTalk.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3707daa0b119fc14" />

  <root>
    <!-- #ifdef _xml_preprocess -->
    <!-- <level value="${LogLevel}" /> -->
    <!-- #else -->
    <level value="DEBUG" />
    <!-- #endif -->
    <!-- #if GetProperty("TargetEnvironment") == "DEV" || GetProperty("TargetEnvironment") == "BLD" -->
    <!--
    <appender-ref ref="BizTalkTracingAppender" />
    -->
    <!-- #else -->
    <!-- #endif -->
    <appender-ref ref="EventLogAppender" />
    <appender-ref ref="RollingFileAppender" />
  </root>
</log4net>
